# IntelliJ IDEA
.idea/
*.iml

# Build / compilation
out/
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Existing config (garde les tiens aussi)
/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml
/httpRequests/